<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>vidu1</servlet-name>
        <servlet-class>controller.vidu1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vidu2</servlet-name>
        <servlet-class>controller.vidu2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vidu3</servlet-name>
        <servlet-class>controller.vidu3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vidu1</servlet-name>
        <url-pattern>/vidu1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vidu2</servlet-name>
        <url-pattern>/vidu2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vidu3</servlet-name>
        <url-pattern>/vidu3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
